<a href="https://colab.research.google.com/github/Manversajjad/Data_preparation/blob/main/Replacing_Values_Comprehension_Stub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem Statement

Let us revisit our job fair problem. You notice that there are still many inconsistencies in the data even after removing missing values. Your task is to remove these inconsistencies and find the average salary of the students.

In [1]:
#Importing the library
import numpy as np
import pandas as pd

#Loading the data
hiring_data = pd.read_csv('/content/hiring_data.csv')

Perform the previous steps

In [2]:
#removing the rows that have more than four missing values
subset_df = hiring_data.dropna(thresh=5)
round(subset_df.salary.mean(),2)

131261.43

In [3]:
hiring_data

,gender,degree_p,degree_b,workex,etest_p,specialization,mba_p,status,salary
0,M,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,127000.0
1,M,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,120000.0
2,M,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,125000.0
3,M,52.00,Sci&Tech,NaN,66.00,Mkt&HR,59.43,Not Placed,NaN
4,M,73.30,Comm&Mgmt,No,96.80,NaN,55.50,Placed,182500.0
...,...,...,...,...,...,...,...,...,...
94,F,66.00,Comm&Mgmt,No,72.00,Mkt&Fin,59.47,Placed,123000.0
95,M,54.00,Comm&Mgmt,No,72.00,Mkt&HR,55.41,Not Placed,NaN
96,M,64.00,Comm&Mgmt,No,53.88,Mkt&Fin,54.97,Placed,126000.0
97,M,65.00,C&M,Yes,95.46,Mkt&Fin,62.16,Placed,178000.0
98,F,76.00,Comm&Mgmt,Yes,66.00,Mkt&Fin,64.44,Placed,140000.0

Use this data to answer the following questions

**Q1:**  Previously, you calculated the average salary of the students who are hired. However, there are some duplicate rows in the data. What is the average salary of the students after filtering out the duplicate observations? (Rounded off to the nearest two decimal places)

a)   \$131,533.82

b)   \$127,890.46

c)   \$131,976.06

d)   \$137,071.15

In [9]:
# Remove duplicates without using inplace, so you get a new DataFrame with duplicates removed
dedup = hiring_data.drop_duplicates()

# Calculate the average salary from the deduplicated DataFrame
avg_mean = dedup['salary'].mean()

# Round to two decimal places
avg_salary_rounded = round(avg_mean, 2)

avg_salary_rounded

132142.86

**Q2:**  After removing the duplicate entries from the data, you start analyzing the column degree_b. You notice that this column contains some inconsistent values. There are supposed to be only three categories in the column degree_b: **‘Sci&Tech’, ‘Comm&Mgmt’, and ‘Others’.**

However, some entries under the categories Sci&Tech and Comm&Mgmt have been formatted as the abbreviations of these categories, **S&T** and **C&M**, respectively. This formatting error adds two more categories to the degree_b column. You decide to replace all instances of the abbreviations with the full forms of the corresponding categories such that the entire column contains only three different categories.

After this operation, what is the average salary of the students who had **Sci&Tech** degrees? (Rounded off to the nearest two decimal places)

   

a)   \$127,768.75

b)   \$135,014.29

c)   \$126,904.65

d)   \$139,017.65

In [11]:
# write your code here
map_label = {'S&T': 'Sci&Tech', 'C&M': 'Comm&Mgmt'}
subset_df.replace(map_label,inplace = True)
print("The average salary of Sci&Tech students is:",round(hiring_data[hiring_data.degree_b == 'Sci&Tech'].salary.mean(),2))

The average salary of Sci&Tech students is: 135014.29

<ipython-input-11-a9ee0b0672d6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df.replace(map_label,inplace = True)